body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
  width: 200px;
  height: 200px;
}
/* Add your flexbox CSS below here */
section {
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article:nth-of-type(5) {
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
}
article:nth-of-type(6) {
  /* flex-grow: 2; */
  /* flex-shrink: 2; */
}
