#one {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  margin: 30px;
}

#two {
  width: 400px;
  height: 400px;
  padding: 20px 20px 20px 20px; /* top right bottom left */
  border: 20px dashed darkblue; /* single-line shorthand format */
  margin: 60px 40px; /* top and bottom | left and right */
  border-radius: 10px;
}

#three {
  width: 300px;
  height: 300px;
  background-color: bisque;
  border: 10px solid darkgreen;
  border-radius: 50%;
}
